<style>
/* force scrollbar */
html { overflow-y: scroll; }
    
/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */

</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for item in site.portfolio %}
    <a class="gallery-link" data-keyboard="true" href="{{ item.url | relative_url }}">
        <img src="{{ item.img | relative_url }}" alt="" class="grid-item" style="padding: 0;">
    </a>
{% endfor %}
</div>

<script src="{{ "/assets/js/vendor/imagesloaded.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/vendor/masonry.pkgd.min.js" | relative_url }}" type="text/javascript"></script>
